<div class="row">
    <div class="col-md-12 sectionHead">
        <h2 class="eventHead">Events in your area:</h2>
    </div>
</div>

    <div class="col-md-12 eventOptions">
        <div class="col-md-4 eventList">
            <h3 class="friday days">Friday</h3>
            <ul style="list-style-type:none">
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-friday-title0">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-friday-venue0"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
                <br>
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-friday-title1">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-friday-venue1"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
                <br>
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-friday-title2">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-friday-venue2"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
                <br>
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-friday-title3">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-friday-venue3"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
                <br>
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-friday-title4">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-friday-venue4"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4 eventList">
            <h3 class="days">Saturday</h3>
            <ul style="list-style-type:none">
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-saturday-title0">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-saturday-venue0"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
                <br>
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-saturday-title1">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-saturday-venue1"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
                <br>
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-saturday-title2">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-saturday-venue2"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
                <br>
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-saturday-title3">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-saturday-venue3"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
                <br>
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-saturday-title4">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-saturday-venue4"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4 eventList">
            <h3 class="days">Sunday</h3>
            <ul style="list-style-type:none">
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-sunday-title0">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-sunday-venue0"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
                <br>
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-sunday-title1">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-sunday-venue1"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
                <br>
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-sunday-title2">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-sunday-venue2"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
                <br>
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-sunday-title3">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-sunday-venue3"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
                <br>
                <li>
                    <div class="card text-center">
                        <div class="card-header" id="event-sunday-title4">

                        </div>
                        <div class="card-body">
                            <p class="card-text" id="event-sunday-venue4"> </p>
                        </div>
                        <button class="btn btn-danger chosen">Let's go!</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    
<div class="row">
    <div class="col-md-12 sectionHead">
        <h2 class="scheduleHead">Your Schedule:</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4 eventList">
        <h4 class="friday days">Friday</h4>
        <ul style="list-style-type:none">
            {{!-- {{#each userEventFri}} {{#unless this.chosen}} --}}
            <li>
                <div class="card">
                    <div class="card-header">
                        EVENT NAME
                    </div>
                    <div class="card-body">
                        <p class="card-text">Concert at The Metro</p>
                    </div>
                </div>
                <button data-id="{{this.id}}" class="btn btn-danger chosen">Let's go!</button>
            </li>
            {{!-- {{/unless}} {{/each}} --}}
        </ul>
        
        
    </div>
    <div class="col-md-4 eventList">
        <h4 class="days">Saturday</h4>
        <ul style="list-style-type:none">
            {{!-- {{#each userEventSat}} {{#unless this.chosen}} --}}
            <li>
                <div class="card">
                    <div class="card-header">
                        EVENT NAME
                    </div>
                    <div class="card-body">
                        <p class="card-text">Concert at The Metro</p>
                    </div>
                </div>
                <button data-id="{{this.id}}" class="btn btn-danger chosen">Let's go!</button>
            </li>
            {{!-- {{/unless}} {{/each}} --}}
        </ul>
    </div>
    <div class="col-md-4 eventList">
        <h4 class="days">Sunday</h4>
        <ul style="list-style-type:none">
            {{!-- {{#each userEventSun}} {{#unless this.chosen}} --}}
            <li>
                <div class="card">
                    <div class="card-header">
                        EVENT NAME
                    </div>
                    <div class="card-body">
                        <p class="card-text">Concert at The Metro</p>
                    </div>
                </div>
                <button data-id="{{this.id}}" class="btn btn-danger chosen">Let's go!</button>
            </li>
            {{!-- {{/unless}} {{/each}} --}}
        </ul>
    </div>
</div>

<div class="row saveButton">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-lg btn-block saveBtn" id="saveActivities">Save Activities!</button>
    </div>
    <div class="col-md-4"></div>
</div>