<div class="linkContainer">

    <br>
    <br>
    <h3 class="eventHead">Your saved events:</h3>

    <div class="col-md-12 eventOptions">
        <div class="col-md-12 savedList">
            <ul style="list-style-type:none">
                {{#each events}}
                <li>
                    <div class="card text-white text-center bg-success mb-3" style="max-width: 18rem;">
                        <div class="card-header">{{ this.eventName }} </div>
                        <div class="card-body">
                            <h5 class="card-title"> {{ this.eventCity }} </h5>
                            <a href="{{this.url}}"><button data-id="{{this.id}}" class="btn btn-danger chosen" target="_blank">Click for tickets.</button></a>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

</div>

<script>
$("footer").hide();
</script>
